body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(247, 235, 218);
}
.navbar {
    position: fixed;
    width: 180px;
    background: rgb(212, 188, 236);
    height: 100%;
    margin: 0px;
}
.nav-item {
    list-style: None;
    margin: 20px 10px;
}
.nav-link {
    text-decoration: None;
    color: rgb(57, 4, 73);
    font-size: 1.4rem;
    transition: all 400ms;
}
.nav-link:hover {
    font-size: 1.6rem;
}
h1 {
    width: 200%;
    background: rgb(236, 202, 139);
    color: rgb(124, 56, 0);
    margin-bottom: 10px;
    padding: 30px 20px;
}

h2 {
    font-size: 50px;
    color: rgb(124, 56, 0);
    margin-bottom: 10px;
  
}
p{
    font-size: 30px;
    color: blueviolet;

}
h3{
    font-size: 30px;
    color:rgb(124, 56, 0);
}
h4{
    font-size: 30px;
    color: rgb(212, 188, 236);
}
#content {
    margin-left: 100px;
    padding:50px 300px;
}

.question {
    margin: 50px auto;
    width: 70%;
    border: 5px dotted rgb(124, 56, 0);
    border-radius: 15px;
    padding: 40px 70px;
    margin-top: 20px;
    margin-left: 10px;
}

.question h3 {
    font-size: 3rem;
}

.question p {
    margin: 30px 50px;
}

.answer-list {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.answer-item {
    list-style: None;
    margin: 0px auto;
    padding: 0px;
    width: 300px;
    text-align: center;
}

.answer-item a {
    text-decoration: None;
    color: rgb(57, 4, 73); 
    border: 3px solid rgb(57, 4, 73);
    background: rgb(212, 188, 236);
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    transition: all 600ms;
}

.answer-item a:hover {
    background: rgb(212, 188, 236));
    font-size: 2rem;
}

.wrong {
    color: darkred;
}

.answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
}

#answer-text {
    font-size: 4rem;
}
