body {
    padding: 0px;
    margin: 0px;
    background-color: rgba(13, 47, 23, 0.281);
}
.navbar {
    position: fixed;
    width: 180px;
    background: rgb(13, 47, 23);
    height: 100%;
    margin: 0px;
}
.nav-item {
    list-style: None;
    margin: 20px 10px;
}
.nav-link {
    text-decoration: None;
    color: white;
    font-size: 1.4rem;
    transition: all 400ms;
    font-family:monospace;
}
.nav-link:hover {
    font-size: 1.6rem;
    
}
h1 {
    width: 100%;
    background: rgb(64, 110, 44);
    color: white;
    margin: 0px;
    padding: 15px 20px;
    font-family:monospace;
}
p {font-size: larger;}
#content {
    margin-left: 220px;
    padding: 30px 20px;
    font-family: monospace;
    
    
}


}


}


}





}



