{% extends "base.html" %}
{% block content %}
<img class="Bio_Bilder" src="{{ url_for("static", filename="Andri.png") }}" width= 20% calt="">
<h2>Hallo ich heiss Andri MAXImilian Buser repektiv, wenn ich gstorbe bin würd ich den Dr. Prof. Lord Andri Buser von der Sonne heisse. Das deswege weil ich jo de Sunnegott bin.<br><br>

Ich würd behaupte, ich wär en guete Diktator. Ich würd die Welt so regiere wie ich es für richtig halt und keine het es recht mini Meinig respetiv mini Fakte infrog z'stelle.
Ds'Element Nr. 119 und alli folgende Elemnet wärde nach mir benannt. So heisst Nr. 119 Andrinium. Unter minere regierig würd die welt revolutioniert. Alles würdi schön wärde. 
Ich als gesanter vo der heilige Schildkröt Cher, uf dere mir uns bekanntlich befinde, het sie mir und Rahel de uftrag geh die Welt z'ufkläre.
Mit de Hilf vo de Rita und de Farbelis und Früchtelis wärde mir dere Welt d'wohrheit offebare vo de Flache Erde , die de Schildkrötepanzer vo de Cher isch.
Wenn du jemols irgendwas tolles gsehsch oder hesch den bin ich das. :)<br> <br>

Διπλῶς ὁρῶσιν οἱ μαθόντες γράμματα.

(Doppelt sieht, wer Schreiben gelernt hat)
<br><br>


Ich bin am 19.08.2005 gebore worde. Spannenderwies könne vieli Mensche sich das nid merke. Ich leb mis ganze läbe lang scho in Möhlin mit minere zwei älter Schwöstere und mine Eltere. Ich bin im bsitz von 'nem Keyboard und 'nem Erhu. Es Erhu isch es chineschisch/mongloisch traditionelles INstrument. Zu dütsch heisst es zwei, und usländisch oder nid han(weil es ursprünglich us de Mongolei kunnt) es bestoht us zwei Strings die am nem Qian agspennt werde und schlussendlich isch es am Kopf(wie be 'nere Gitarre) befestigt isch. De Klangkörper befindet sich bim spiele ufem bei und me nutz en Boge für de innersting und de outerstring. Ig liebss.<br>

</h2>

{% endblock %}
