{% extends "base.html" %}
{% block content %}
<img class="Bio_Bilder" src="{{ url_for("static", filename="Andri.png") }}" width= 20% calt="">
Hallo ich heiss Andri MAximilian Buser repektiv, wenn ich gstorbe bin würd ich den Dr. Prof. Lord Andri Buser von der Sonne
Ich würd behaupte, ich wär en guete Diktator. Ich würd die Welt so regiere wie ich für richtig halt und keine het es recht mini MEinig repetiv mini Fakte infrog z'stelle.
Ds'Element Nr. 119 und alli folgende Elemnet wärde nach mir benannt. So heisst Nr. 119 Andrinium 
{% endblock %}
