{% extends "base.html" %}
{% block content %}
    <h1> Anji is in da house</h1>
    <h2>helo im unda da water</h2>
    <p>
        <ul>
            <li>Geburtstag: 22.07.2006 </li>
            <li> Alter: 15</li>
            <li> Wohnort: Pratteln</li>
            <li> Herkunft: Schweiz</li> 
            <li>Hobbys: Reiten</li>
            <li>Haustiere: Hund, Pferd</li>
            <br>

            <li>Lieblingslied: Photograph - Ed Sheeran</li>
            <li>Lieblingsfilm: Harry Potter, Oceans, Now you see me</li>
            <li>Lieblingsfarbe: Weinrot</li>
            <li>Lieblingsfrucht: Grapefruit </li>
        </ul>
        Klicken Sie <a href="/index">hier</a> um wieder auf die Startseite zu gelangen.
    </p>
{% endblock %}