{% extends "base.html" %}
{% block content %}
    <div class="Bio">
        <li class="Pictures">
            <img class=Bild src="{{ url_for("static", filename="img/Nils.jpg") }}" alt="Nils" width="100px" height="150">
            <br>
            <img class=Bild src="{{ url_for("static", filename="img/Andrin.jpg") }}" alt="Andrin" width="100px" height="150">
            </br> 

            <br>
            <img class=Bild src="{{ url_for("static", filename="img/Julian.jpg") }}" alt="Julian" width="100px" height="150">
        </br>
        </li>
    </div>
    <h2> Andrin Kasper
    </h2>
    <ul>
    <li>Alter: 15</li>
    <li>Ausbildung: Schüler</li>
    <li>Hobbys: Basketball, Klavier </li>
    <li>Traumberuf: Bauingenieur </li>
    <li>Da will ich hin: Zürich HB</li>
    <li></li>
    </ul>
{% endblock %}
