{% extends "base.html" %}
{% block content %}
    

    <div class="Bio">
    
    <h2> Nils Inauen</h2>

    <img class=Bild src="{{ url_for("static", filename="img/Nils.jpg") }}" alt="Nils" width="100px" height="150">

    <ul>
    <li>Alter: 16</li>
    <li>Ausbildung: Schüler</li>
    <li>Hobbys: Volleyball, Klavier/Schlagzeug, Jungwacht </li>
    <li>Traumberuf: Primarlehrer </li>
    <li>Da will ich hin: Tokyo</li>
    </ul>

    </div>

    <div class="Bio">

<h2> Andrin Kasper </h2>

    <img class=Bild src="{{ url_for("static", filename="img/Andrin.jpg") }}" alt="Andrin" width="100px" height="150">

    <ul>
    <li>Alter: 15</li>
    <li>Ausbildung: Schüler</li>
    <li>Hobbys: Basketball, Klavier </li>
    <li>Traumberuf: Bauingenieur </li>
    <li>Da will ich hin: Zürich HB</li>
    </ul>


    </div>

    <div class="Bio">

        <h2> Julian Wenger
    </h2>

    <img class=Bild src="{{ url_for("static", filename="img/Julian.jpg") }}" alt="Julian" width="100px" height="150">

    <ul>
    <li>Alter: 16</li>
    <li>Ausbildung: Schüler</li>
    <li>Hobbys: Volleyball, Schlagzeug, Jungwacht </li>
    <li>Traumberuf: ASTRONAUT</li>
    <li>Da will ich hin: zu dir ;)</li>
    </ul> 

    </div>
    
    
    

   
{% endblock %}
