{% extends "base.html" %}
{% block content %}
    <h2>Mir heisse euch ganz, ganz herzlich willkomme uf unsere unglaublich, mega professionelle, selbererstellte Website!:))</h2>
    <p>Inhaltsverzeichnis:</p>
    <ul>
    <li><p><a href="/question">Quiz</a></p></li>
    <li><p><a href="/bio">Bio</a></p></li>
    <li><p><a href="/bilder">Bilder</a></p></li>
    <li><p><a href="/selina">Selina Schnell</a></p></li>
    <li><p><a href="/sara">Sara Zumsteg</a></p></li>
    <li><p><a href="/leonie">Leonie Hug</a></p></li>
    </ul>
{% endblock %}"
