{% extends "base.html" %}
{% block content %}
    <h2>Chickengrill!</h2>
    <p>Das Informatikprojekt von Selina, Leonie, Sara und Sophia<br> <br>

        Unser Game ist ein Jump Game. Bei welchem du das Hühnchen mithilfe deiner Spacetaste in der Luft halten musst. <br>
        Dabei musst du allerdings den Hindernissen ausweichen.  <br> <br>

        <br> <br>

        Spielanleitung <br> <br>

        Unser Spiel basiert auf einem Jump & Fly Spiel "Flappy Bird" <br> <br>

        Mit der Leertaste bokommt das Hühnchen immer einen Schub nach oben und fliegt dann automatisch wieder nach unten  <br> <br>

        Ziel des Spiels: Als Hühnchen nicht gegrillt zu werden und einen möglichst hohen High-Score zu erreichen <br> <br> 
    </p>
    <p>Klicken Sie <a href="/question">hier</a> um unser tolles Spiel zu starten.</p>
{% endblock %}

