{% extends "base.html" %}
{% block content %}
    <h1>Willkommen!</h1>
    <h2>Willkommen auf unserer super Website:) </h2>
    <p> Du findest hier alle nötigen Informationen. Wenn du alles durchgelesen <br>
    und studiert hast, wirst du fähig sein, dass Quiz zu erledigen.</p>
    <p>Klicke <a href="/question">hier</a> um jetzt an unserem super Quiz teilzunehmen.</p>
    <p>Klicke <a href="/salome">hier</a> um Salomes Profil anzusehen.</p>
    <p>Klicke <a href="/anja">hier</a> um Anjas Profil anzusehen.</p>
{% endblock %}
