{% extends "base.html" %}
{% block content %}

<head>
    <body>
        <h1>
            Irem Atici
        </h1>
        <p>
        <li>
            Geburtstag: 04.01.06
        </li>
        </p>
        <p>
        <li>
            Alter: 16
        </li>
        </p>
        <p>
        <li>
            Wohnort: Muttenz
        </li>
        </p>
        <p>
        <li>
            Lieblingsässe: Lasagne
        </li>
        </p>
        <p>
        <li>
            Lieblingsfarb: violet
        </li>
        </p>
    </body>
</head>
{% endblock %}
    
