{% extends "base.html" %}
{% block content %}
    <div class="question">
        <h3>Wo befindet sich dieser Ort?</h3>
        <div class="image-container">
        <img src="{{ url_for('static', filename=question.image) }}" alt="Streetview Bild"> 
        </div>
    <form class="answer-block" action="/send-loc">
        <input type="hidden" name="question_id" value="{{ question.id }}">
        
        <label for="loc">Standort in Längen- und Breitengrad: </label>
        <input type="text" name="loc" id="loc" value="">
        <button type="submit">Senden</button>
        
    </form>
    </div>
{% endblock %}
