{% extends "base.html" %}
{% block content %}
<head>
    <body>
        <h1>Salom is in da house</h1>
        <p>A little biografy about myself</p>
        <p>
            <ul>
                <li>Geburtstag: 02.01.2006</li>
                <li> Alter: 16</li>
                <li> Wohnort: Pratteln</li>
                <li> Herkunft: Schweiz, Deutschland</li> <br>

                <li>Lieblingslied: yellow </li>
                <li>Lieblingsfilm: Little Women, Twilight, Matrix, Dirty Dancing, Harry Potter</li>
                <li>LIeblings serie: Gilmore Girls</li>
                <li>Lieblingsfarbe: curulean blue </li>
            </ul>
        </p>
    </body>
</head>
{% endblock %}