

{% extends "base.html" %}
{% block content %}
<img class="Bio_Bilder" src="{{ url_for("static", filename="Sophia.png") }}" width=30% alt="">   
      <br>
Moinsen<br>
Ich bin Sophia, du erkennts mich mit meiner roten Kappe.<br>
Aber verwechsle mich ja nicht mit Ruben, der hat nämlich eine ähnliche.<br>
Meine Hobbys sind Mittags in den Coop zu gehen und etwas leckeres zu kaufen<br>
(Vanilleplunder sind die besten) Oft kommen auch noch andere mit. <br>
Man hört uns schon von weitem.<br>
Was ich sonst noch tue, ist wohl nicht wirklich viel.<br>
Ich wünsch dir noch einen schönen Tag :)



{% endblock %}

