{% extends "base.html" %}
{% block content %}

    <h2>Wie funktioniert das Kroko Game?</h2>
    
    <p> Wir sehen links ein Krokodil mit geöffnetem Maul und rechts eine Melone.
        Das Krokodil befindet sich auf einer wunderschönen Insel mit wenig Nahrung.
        Willst du Kroko helfen wieder kräftig zu werden?
        Dann starte das Game!
        Mithilfe den Pfeilen und der Spacetaste kannst du die Melone direkt ins Maul des Krokodils katapultieren.
        Wenn dies in einer Zeit von 10 Sekunden nicht geschieht, verhungert der liebe Kroko und für dich heisst das Game Over.
        Also dann, VIEL SPASS!
    </p>

{% endblock %}

