{% extends "base.html" %}
{% block content %}
    <h1>A little view over our friendship</h1>
    <p>Alles begann, als wir uns das erste Mal in der zweiten Klasse begegnet sind. <br>
    Seither sind wir in der selben Klasse und kämpfen uns gemeinsam durch diesen Alptraum. </p>
        <img src="{{ url_for("static", filename="WhatsApp Image 2022-02-02 at 09.16.57.jpeg") }}" alt="" width="200" height="390">
        <img src="{{ url_for("static", filename="WhatsApp Image 2022-02-02 at 09.42.38.jpeg") }}" alt="" width="200" height="300">
{% endblock %}
