{% extends "base.html" %}
{% block content %}
<head>
    <body>
        <h1> Worum geht es</h1>
        <h2>Idee hinter dem Titel</h2>
        <p>Unser Titel bezieht sich auf die drei verschiedenen Charaktere in unserem Spiel. 
            Während des Spiels steigert man sich von einem kleinen, langsamen Tier zu einem aussergewöhnlichen und geschickteren Spieler. 
            Je nachdem wie weit man in dem Spiel kommt, umso besser wird auch der Charakter, mit welchem man weiterspielt. </p>
            <h2>Spielfiguren (Designen, Reihenfolge)</h2>
            <p>Unser Spiel ist so aufgebaut, dass wenn das Level schwieriger wird, man auch ein besseres Tier erhält, mit welchem man dieses Level besser bewältigen kann. 
                Es startet mit einer Schildkröte, welche sich langsam fortbewegt und somit das Level sehr einfach gestaltet. 
                Das zweite Level wird mit einem Hasen gespielt, welcher schneller ist und weitere Sprünge als das Tier zuvor macht. 
                Für das dritte und letzte Level haben wir uns für ein Einhorn entschieden. 
                Es bewegt sich am schnellsten fort und springt am weitesten. </p>
                <h2>Design (Hintergrund, Hindernisse)</h2>
                <p>Zu jedem Spieler haben wir einen anderen Hintergrund und ein Hindernis designt. 
                    Zu der Schildkröte haben wir uns überlegt einen Strand zu zeichnen und als Hindernis passend dazu eine Muschel, da es das erste war, das uns in den Sinn kam, als wir an eine Schildkröte gedacht haben.
                     Bei dem Gestalten des Levels mit dem Hasen haben wir uns gedacht, dass wir den Hasen auf einem Bauernhof inszenieren könnten.
                     So haben wir uns bei dem Hintergrund für ein Weizenfeld mit einem Traktor entschieden und als Hindernis einen kleinen Zaun gewählt.
                     Für das Einhorn haben wir uns klischeehaft für einen blauen Himmel und einen Regenbogen entschieden.
                     Für ein paar Details mehr haben wir dann noch ein paar weisse Wolken hinzugefügt. Als Hindernis haben wir hier eine Gewitterwolke gewählt.</p>
                     <h2>Ziel des Spiels</h2>
                     <p>Das Spiel ist so aufgebaut, dass man mit den Charakteren eine Strecke zurücklegen muss auf welcher verschiedene Hindernisse zu finden sind. 
                         Nachdem man eines der drei Levels erledigt hat, gelangt man zu dem nächsten Level. 
                         Nach dem dritten, letzten Level hat man das Spiel beendet. 

                    </p>
    </body>
</head>
{% endblock %}